<ul >
  {{#events}}
    <li>
        <h2>{{ title }}</h2>
        <p>{{ description }}</p>
        <p>Location: {{ location }}</p>
        <p>Likes: {{ likes }}
        <form method="POST" action="/event/like">
        <div class="btn-group" role="group" aria-label="Basic example">
            <input class="btn btn-success" type="hidden" value="{{id}}" name="id">
            <input class="btn btn-success" type="submit" value="Like">
        </div>
        </form>
        <form method="POST" action="/event/unlike">
        <div class="btn-group" role="group" aria-label="Basic example">
            <input class="btn btn-success" type="hidden" value="{{id}}" name="id">
            <input class="btn btn-success" type="submit" value="UN-Like">
        </div>
        </form>
        </p>
    </li>
  {{/events}}
</ul>